<span class="mb-[2px]">
  <span
    id="orig-mode-button"
    class="text-lg hover:text-primary-500 cursor-pointer"
    title="Orijinali göster"
    data-title-show="Sadeleştirmeyi göster"
    data-title-hide="Yalnıca orijinali göster"
    role="button"
    aria-pressed="false">
<span class="inline-block align-text-bottom icon-both">
  {{ partial "icon.html" "toggle-on-regular" }}
</span>
<span class="inline-block align-text-bottom icon-trans hidden">
  {{ partial "icon.html" "toggle-off-solid" }}
</span>
  </span>
</span>